.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.heading-reviews {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  margin-top: 63px;
}

@media screen and (min-width: 768px) {
  .heading-reviews {
    font-size: 48px;
    margin-top: 150px;
  }
}

.on-arrow {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.arrow-container {
  display: flex;
  align-items: center;
  width: 84%;
}

@media screen and (min-width: 768px) {
  .arrow-container {
    width: 45%;
    min-width: 662px;
  }
}

.container-profile-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.review-username {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}

.companyName-review {
  font-size: 15px;
  color: #171f46;
  font-family: 'Roboto';
}

.description-review {
  font-size: 15px;
  color: #171f46;
  font-family: 'Roboto';
  text-align: center;
}
